<input type="button" value="Admin Login" class="btn btn-info" (click)="showAdminLoginForm()" >
&nbsp;
<input type="button" value="User Login" class="btn btn-info" (click)="showUserLoginForm()">
&nbsp;
<input type="button" value="Register" class="btn btn-info" (click)="showUserRegistrationForm()"><br/>


<h1 style="color:crimson; text-align:center">FoodBox<br/><br/><br/>

<h5 style="text-align:center">Medicare is a company that supplies medicines and healthcare essentials at an affordable price. It was established in 2012 in Delhi, India.
This portal is desinged to order your medications easy and quick.We provide best service and the best price. 
We will deliver your products within 8 hours of your order. We have quality products from varitey of sellers.</h5>
<br/>
<br/>
<ngb-carousel>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../assets/banner1.jpg" alt="Random first slide" />
		</div>
		
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../assets/banner2.jpg" alt="Random second slide" height="400"/>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img src="../../assets/banner3.jpg" alt="Random third slide" />
		</div>
		
	</ng-template>
</ngb-carousel>


